{% extends 'base.html' %}

{% block body %}
    <br>
    <br>
    <header>
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
              <form name="addForm" id="addForm" method="POST" action="{{ url_for('search') }}" novalidate>
                <div class="form-row">
                  <div class="col-12 col-md-9 mb-2 mb-md-0">
                    <input type="text" class="form-control form-control-lg" placeholder="도서명을 입력하세요..." name="book" id="book">
                  </div>
                  <div class="col-12 col-md-3">
                    <button type="submit" class="btn btn-block btn-lg btn-primary">Search</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
    </header>
    <br>

{% for list in lists %}
<div class="container">
<ol>
    <img src="../static/book/{{ list.name }}.jpg" onerror="this.src='../static/순환.jpg'" width="100" height="120" align = "left" hspace=30>

    <ul>제목 : {{ list.name }}</ul>
    <ul>저자 : {{ list.author }}</ul>
    <ul>상태 : {{ list.status }}</ul>
    <form action="{{ url_for('update') }}" method="post">
      <input type="submit" value="대출하기" onclick="msg()">
    </form>

    <script>
    function msg() {
        alert("대출이 완료되었습니다.");
    }
    </script>

    </div>
    <!-- 도서 정보 나머지 칸 추가 -->
<br/>
</ol>
<br><br />
{% endfor %}
{% endblock body %}
